<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Placement Predictor</title>
</head>
<body>

    <h1>Student Placement Predictor</h1>
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
    <form method="post" action="/predict">
        <label>CGPA</label><br>
        <input type="text" name="cgpa"><br><br>

        <label>placement_exam_marks</label><br>
        <input type="text" name="placement_exam_marks"><br><br>

        <input type="submit" value="Predict"><br><br>
    </form>

</body>
</html>